<h1>Burger Selector</h1>

<h2>Burgers Yet To Be Eaten</h2>


<div class="column-layout">
  <div class="center-column">
     <form class="createForm" action="">
        <div class="form-row">
          <label for="name">Burger Name:</label>
          <input type="text" id="name">
          <button id="addSubmit" type="submit">Add Burger</button>
        </div>
     </form>
  </div>

  <div class="sidebar-one">
    <h3>Uneaten Burgers</h3>
    <ul>
         {{#each burgers}}
           {{#unless this.devoured}}
             <li>
                <h5> {{this.id}}.{{this.burger_name}}
                   <button type="submit" id="eatSubmit"> EAT THIS! </button>
                </h5>   
             </li>
           {{/unless}}
         {{/each}}   
    </ul>  
  </div>

  <div class="sidebar-two">
    <h3>Uneaten Burgers</h3>
    <ul>
         {{#each burgers}}
           {{#if  this.devoured}}
             <li>
                <h5> {{this.id}}.{{this.burger_name}}
                   <button type="submit" id="replaceSubmit"> Replace! </button>
                </h5>   
             </li>
           {{/if}}
         {{/each}}   
    </ul>  
  </div>

